/*
Base scss
 */
@import "./base/colors";
@import "./base/mixins";
@import "./base/configuration";
@import "./base/fonts";

/*
Libraries installations
 */

@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";

/*
shared scss
 */

@import "./apps/shop/shared/header";
@import "./apps/shop/shared/footer";

/*
Apps scss
 */
@import "./apps/shop/pages/home-page";
@import "./apps/shop/pages/product-list";

/*
libs scss
 */

@import "./libs/ui/ui";


